# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
*.egg
*.log

# Virtual env
.venv/
env/
venv/
ENV/

# VSCode
.vscode/

# Pytest cache
.pytest_cache/
.cache/

# Coverage
htmlcov/
.coverage
coverage.xml
*.cover

# Docker
*.db
*.pid
*.sock
*.tar
docker-compose.override.yml

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# OS-specific
